<nav class="navigation">
    <div class="nav-container">
      <a routerLink="/" class="brand">ABC Restaurant</a>
      <ul>
        <li><a routerLink="/customer" class="nav-item">Home</a></li>
        <li><a routerLink="/reservation" class="nav-item">Reservation</a></li>
        <li><a routerLink="/menu" class="nav-item">Menu</a></li>
        <li><a routerLink="/services" class="nav-item">Services</a></li>
        <li><a routerLink="/search" class="nav-item">Search Services</a></li>
        <li><a routerLink="/submit-query" class="nav-item">Query</a></li>
        <li><a routerLink="/offers" class="nav-item">Offers</a></li>
        <li><a routerLink="/checkrates" class="nav-item">Check rates container</a></li>
        <li><a routerLink="/contactus" class="nav-item">Contact Us</a></li>
        <li><a routerLink="/login" class="nav-item">Logout</a></li> 
      </ul>
    </div>
  </nav>