<nav class="navigation">
    <div class="nav-container">
      <a routerLink="/" class="brand">ABC Restaurant</a>
      <ul>
        <li><a routerLink="/admin" class="nav-item">Home</a></li>
        <li><a routerLink="/manageuser" class="nav-item">Manage Users</a></li>
        <li><a routerLink="/generatereport" class="nav-item">Generate Reports</a></li>
        <li><a routerLink="/viewquery" class="nav-item">Manage Queries</a></li>
        <li><a routerLink="/login" class="nav-item">Logout</a></li> 
      </ul>
    </div>
  </nav>