<app-customernav></app-customernav>
<div class="services-container">
      <h2>Available Services</h2>
      <div class="photography-images">
          <img src="assets/f1.jpeg" alt="Sample 1"><br>
          <p><b>Table Service</b><br>Table service is a global restaurant service where customers are seated at <br>a table and served by a waiter or waitress. <br>It involves taking orders, completing food service, and providing assistance during meals,<br> typically used in formal or upscale restaurants.</p><br>
          <img src="assets/f2.jpeg" alt="Sample 2"><br>
          <p><b>Self-service</b><br>Self-service restaurants, prevalent in fast-food, cafeterias, and coffee shops,<br> allow customers to order and pay for food at<br> a counter or kiosk, enhancing their dining experience. Indonesian restaurant chains,<br> like Marugame Udon, utilize this concept.</p>       
      </div>
  </div>