.services-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .services-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
 
  .photography-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
  }
  

  .photography-images img {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }
  

  .photography-images img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
  